@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

.quiz-container{
    margin: 1rem;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: large;
}

main{
    margin: auto;
    height: auto;
    width: 90%;
}

#quiz-main > h3{
    margin-top: 1rem;
}